name: my second workflow | training 

on:
  push:
    branches:
      - main

jobs:
  first_job:
    runs-on: ubuntu-latest
    
    steps:
      - name: checkout
        uses: actions/checkout@v6.0.2

      - name: List files
        run: ls -ltra

      - name: Run shell script
        run: 
            |
          chmod +x script2.sh
          ./script2.sh

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: final
          path: dragon.txt